* { margin:0; padding:0; box-sizing:border-box; }
body { font-family: Arial, sans-serif; background:#f4f4f4; }

/* HEADER */
header {
  background:#1a1a1a; color:#fff;
  padding:20px; display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
  position:sticky; top:0; z-index:10;
}
header h2 { letter-spacing:1px; }
nav a {
  color:#fff; margin-left:20px;
  cursor:pointer; font-size:16px;
  transition:0.3s;
}
nav a:hover { color:#ffcc00; }

/* SECTIONS */
.section { display:none; padding:30px; }
.active { display:block; animation:fade 0.3s ease-in-out; }
@keyframes fade { from {opacity:0;} to {opacity:1;} }

/* PRODUCT GRID */
.products {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,0fr));
  gap:25px;
  margin-top:20px;
}

.card {
  background:#fff; padding:15px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
  transition:0.3s;
}
.card:hover {
  transform:translateY(-5px);
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}
.card img { width:100%; border-radius:10px; }

.price {
  color:#009688;
  font-size:18px;
  font-weight:bold;
  margin:10px 0;
}

.btn {
  background:#1a1a1a;
  color:#fff;
  padding:10px 18px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  transition:1s;
  transform: translate(20px,10px);
}
.btn:hover {
  background:#ffcc00;
  color:#000;
}

/* TABLE */
table {
  width:100%; border-collapse:collapse;
  background:#fff;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
  border-radius:15px;
  overflow:hidden;
}
th, td {
  padding:15px;
  text-align:center;
  border-bottom:1px solid #eee;
}
th { background:#1a1a1a; color:#fff; }

input {
  width:90%; padding:15px;
  border-radius:8px;
  border:1px solid #ccc;
  margin-bottom:12px;
}

#orderMsg {
  margin-top:15px;
  font-size:18px;
  font-weight:bold;
  color:green;
}
